{% if page.header %}
  <div class="jumbotron transparent">
    {% if page.header.video.embed %}
      <iframe class="centered" frameborder="0" src="https://www.youtube.com/embed{{ page.header.video.embed }}&autoplay=1&controls=0&disablekb=1&iv_load_policy=3&loop=1&modestbranding=1&enablejsapi=1&showinfo=0&html5=1"></iframe>
    {% endif %}
    <div class="container text-center transparent">
      <div class="centered">
        {% if page.header.overlay_image %}
          <img src="{{ site.baseurl }}/assets/images/{{ page.title }}/title-box.png"/>
        {% else %}
          <h1>Alex Bennett</h1>
          <p>Unity Development Portfolio</p>
        {% endif %}
      </div>
      {% if page.header.download_url %}
        <div class="caption"><a href='{{ page.header.download_url }}'>Download</a></div>
      {% endif %}
    </div>
  </div>
{% endif %}